# Merging Our Data
Raveesha Gupta
Sarita Sapkota
Max Silverstein
December 14, 2017

Run this notebook after merging the data.

In [1]:
#Load our packages
! conda install geopandas -yq
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import geopandas as gpd
from shapely.geometry import Point, Polygon

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold

# All requested packages already installed.
# packages in environment at /opt/conda:
#
geopandas                 0.3.0                    py36_0    conda-forge

In [2]:
#Change Directory
import os
os.chdir('Project Files')

#Import state abbreviations dictionary
from us_state_abbrev import *

In [26]:
#2000 census geographic area, note that the header is on line 1
data1 = pd.read_csv('DEC_00_SF1_GCTPH1.US05PR_with_ann.csv', header = 1, encoding='latin-1')
data1 = data1.rename(columns={'Geographical Area': 'CTYNAME'})
data1.CTYNAME

0                                    United States
1                          United States - Alabama
2         United States - Alabama - Autauga County
3         United States - Alabama - Baldwin County
4         United States - Alabama - Barbour County
5            United States - Alabama - Bibb County
6          United States - Alabama - Blount County
7         United States - Alabama - Bullock County
8          United States - Alabama - Butler County
9         United States - Alabama - Calhoun County
10       United States - Alabama - Chambers County
11       United States - Alabama - Cherokee County
12        United States - Alabama - Chilton County
13        United States - Alabama - Choctaw County
14         United States - Alabama - Clarke County
15           United States - Alabama - Clay County
16       United States - Alabama - Cleburne County
17         United States - Alabama - Coffee County
18        United States - Alabama - Colbert County
19        United States - Alabama - Conecuh County
20          United States - Alabama - Coosa County
21      United States - Alabama - Covington County
22       United States - Alabama - Crenshaw County
23        United States - Alabama - Cullman County
24           United States - Alabama - Dale County
25         United States - Alabama - Dallas County
26         United States - Alabama - DeKalb County
27         United States - Alabama - Elmore County
28       United States - Alabama - Escambia County
29         United States - Alabama - Etowah County
                           ...
3242               Puerto Rico - Maunabo Municipio
3243              Puerto Rico - Mayagüez Municipio
3244                  Puerto Rico - Moca Municipio
3245               Puerto Rico - Morovis Municipio
3246               Puerto Rico - Naguabo Municipio
3247             Puerto Rico - Naranjito Municipio
3248              Puerto Rico - Orocovis Municipio
3249              Puerto Rico - Patillas Municipio
3250              Puerto Rico - Peñuelas Municipio
3251                 Puerto Rico - Ponce Municipio
3252          Puerto Rico - Quebradillas Municipio
3253                Puerto Rico - Rincón Municipio
3254            Puerto Rico - Río Grande Municipio
3255         Puerto Rico - Sabana Grande Municipio
3256               Puerto Rico - Salinas Municipio
3257            Puerto Rico - San Germán Municipio
3258              Puerto Rico - San Juan Municipio
3259           Puerto Rico - San Lorenzo Municipio
3260         Puerto Rico - San Sebastián Municipio
3261          Puerto Rico - Santa Isabel Municipio
3262              Puerto Rico - Toa Alta Municipio
3263              Puerto Rico - Toa Baja Municipio
3264         Puerto Rico - Trujillo Alto Municipio
3265                Puerto Rico - Utuado Municipio
3266             Puerto Rico - Vega Alta Municipio
3267             Puerto Rico - Vega Baja Municipio
3268               Puerto Rico - Vieques Municipio
3269              Puerto Rico - Villalba Municipio
3270               Puerto Rico - Yabucoa Municipio
3271                 Puerto Rico - Yauco Municipio
Name: CTYNAME, Length: 3272, dtype: object

In [27]:
#reformat CTYNAME to our common format
temp=data1.CTYNAME.str.split("-", 2, expand=True)
temp[1] = temp[1].replace(us_state_abbrev, regex=True).str.strip()
temp[2] = temp[2].str.strip()
data1.CTYNAME = temp[1] + "-" + temp[2]
data1 = data1[data1.CTYNAME.notnull()].reset_index()
data1.CTYNAME

0           AL-Autauga County
1           AL-Baldwin County
2           AL-Barbour County
3              AL-Bibb County
4            AL-Blount County
5           AL-Bullock County
6            AL-Butler County
7           AL-Calhoun County
8          AL-Chambers County
9          AL-Cherokee County
10          AL-Chilton County
11          AL-Choctaw County
12           AL-Clarke County
13             AL-Clay County
14         AL-Cleburne County
15           AL-Coffee County
16          AL-Colbert County
17          AL-Conecuh County
18            AL-Coosa County
19        AL-Covington County
20         AL-Crenshaw County
21          AL-Cullman County
22             AL-Dale County
23           AL-Dallas County
24           AL-DeKalb County
25           AL-Elmore County
26         AL-Escambia County
27           AL-Etowah County
28          AL-Fayette County
29         AL-Franklin County
                ...
3111       WI-Washburn County
3112     WI-Washington County
3113       WI-Waukesha County
3114        WI-Waupaca County
3115       WI-Waushara County
3116      WI-Winnebago County
3117           WI-Wood County
3118         WY-Albany County
3119       WY-Big Horn County
3120       WY-Campbell County
3121         WY-Carbon County
3122       WY-Converse County
3123          WY-Crook County
3124        WY-Fremont County
3125         WY-Goshen County
3126    WY-Hot Springs County
3127        WY-Johnson County
3128        WY-Laramie County
3129        WY-Lincoln County
3130        WY-Natrona County
3131       WY-Niobrara County
3132           WY-Park County
3133         WY-Platte County
3134       WY-Sheridan County
3135       WY-Sublette County
3136     WY-Sweetwater County
3137          WY-Teton County
3138          WY-Uinta County
3139       WY-Washakie County
3140         WY-Weston County
Name: CTYNAME, Length: 3141, dtype: object

In [28]:
#create new dataframe, duplicate it for each subsequent year
area = data1[['CTYNAME', 'Area in square miles - Land area']]
censusarea00 = pd.DataFrame()
for x in range(2005, 2011):
    temp = area.copy()
    temp['year'] = str(x)
    censusarea00 = censusarea00.append(temp)

In [29]:
#Census population estimates read
popnum00 = pd.read_csv('co-est2010-alldata.csv', encoding='latin-1')

In [30]:
#reformat the county name to our preferred format
popnum00.STNAME = popnum00.STNAME.replace(us_state_abbrev, regex=True)
popnum00.CTYNAME = popnum00.STNAME + "-" + popnum00.CTYNAME

In [31]:
#reformat so that each year isn't its own set of variables
basepop00 = popnum00[['CTYNAME','CENSUS2000POP']].copy()
population00 = pd.DataFrame()
for x in range(2005, 2011):
    temporary = basepop00.copy()
    year = str(x)
    for y in popnum00.columns:
        if y.endswith(year):
            label = y.split(year)[0]
            temporary[label] = popnum00[y]
    temporary['year'] = year
    population00 = population00.append(temporary)

In [32]:
population00.to_csv('population00.csv')

In [33]:
popdensity00 = population00.merge(censusarea00, how='left', on=['year','CTYNAME'])

In [34]:
#2010 census geographic area, note that the header is on line 1
data = pd.read_csv('DEC_10_SF1_GCTPH1.ST05_with_ann.csv', header = 1, encoding='latin-1')
data = data.rename(columns={'Geographic area': 'CTYNAME'})

In [35]:
#reformat CTYNAME to our common format
temp=data.CTYNAME.str.split("-", 1, expand=True)
temp[0] = temp[0].replace(us_state_abbrev, regex=True).str.strip()
temp[1] = temp[1].str.strip()
data.CTYNAME = temp[0] + "-" + temp[1]
data = data[data.CTYNAME.notnull()].reset_index()
data.CTYNAME

0                         AL-Autauga County
1                         AL-Baldwin County
2                         AL-Barbour County
3                            AL-Bibb County
4                          AL-Blount County
5                         AL-Bullock County
6                          AL-Butler County
7                         AL-Calhoun County
8                        AL-Chambers County
9                        AL-Cherokee County
10                        AL-Chilton County
11                        AL-Choctaw County
12                         AL-Clarke County
13                           AL-Clay County
14                       AL-Cleburne County
15                         AL-Coffee County
16                        AL-Colbert County
17                        AL-Conecuh County
18                          AL-Coosa County
19                      AL-Covington County
20                       AL-Crenshaw County
21                        AL-Cullman County
22                           AL-Dale County
23                         AL-Dallas County
24                         AL-DeKalb County
25                         AL-Elmore County
26                       AL-Escambia County
27                         AL-Etowah County
28                        AL-Fayette County
29                       AL-Franklin County
                       ...
3191          Puerto Rico-Maunabo Municipio
3192         Puerto Rico-Mayagüez Municipio
3193             Puerto Rico-Moca Municipio
3194          Puerto Rico-Morovis Municipio
3195          Puerto Rico-Naguabo Municipio
3196        Puerto Rico-Naranjito Municipio
3197         Puerto Rico-Orocovis Municipio
3198         Puerto Rico-Patillas Municipio
3199         Puerto Rico-Peñuelas Municipio
3200            Puerto Rico-Ponce Municipio
3201     Puerto Rico-Quebradillas Municipio
3202           Puerto Rico-Rincón Municipio
3203       Puerto Rico-Río Grande Municipio
3204    Puerto Rico-Sabana Grande Municipio
3205          Puerto Rico-Salinas Municipio
3206       Puerto Rico-San Germán Municipio
3207         Puerto Rico-San Juan Municipio
3208      Puerto Rico-San Lorenzo Municipio
3209    Puerto Rico-San Sebastián Municipio
3210     Puerto Rico-Santa Isabel Municipio
3211         Puerto Rico-Toa Alta Municipio
3212         Puerto Rico-Toa Baja Municipio
3213    Puerto Rico-Trujillo Alto Municipio
3214           Puerto Rico-Utuado Municipio
3215        Puerto Rico-Vega Alta Municipio
3216        Puerto Rico-Vega Baja Municipio
3217          Puerto Rico-Vieques Municipio
3218         Puerto Rico-Villalba Municipio
3219          Puerto Rico-Yabucoa Municipio
3220            Puerto Rico-Yauco Municipio
Name: CTYNAME, Length: 3221, dtype: object

In [36]:
#create new dataframe, duplicate it for each subsequent year
area = data[['CTYNAME', 'Area in square miles - Land area']]
censusarea = pd.DataFrame()
for x in range(2010, 2018):
    temp = area.copy()
    temp['year'] = str(x)
    censusarea = censusarea.append(temp)

In [37]:
#Census population estimates read
popnum = pd.read_csv('co-est2016-alldata.csv', encoding='latin-1')

In [38]:
#reformat the county name to our preferred format
popnum.STNAME = popnum.STNAME.replace(us_state_abbrev, regex=True)
popnum.CTYNAME = popnum.STNAME + "-" + popnum.CTYNAME

In [39]:
#reformat so that each year isn't its own set of variables
basepop = popnum[['CTYNAME','CENSUS2010POP']].copy()
population = pd.DataFrame()
for x in range(2010, 2017):
    temporary = basepop.copy()
    year = str(x)
    for y in popnum.columns:
        if y.endswith(year):
            label = y.split(year)[0]
            temporary[label] = popnum[y]
    temporary['year'] = year
    population = population.append(temporary)

In [81]:
#Merge census area with population data, NEED TO CALCULATE DENSITY
popdensity10 = population.merge(censusarea, how='left', on=['year','CTYNAME'])

In [82]:
popdensity = popdensity00.append(popdensity10)
popdensity['density'] = popdensity['POPESTIMATE']/popdensity['Area in square miles - Land area']
popdensity = popdensity.loc[:, ['CTYNAME', 'year', 'density', 'POPESTIMATE']]
popdensity.year = popdensity.year.astype('float64')
popdensity.CTYNAME = popdensity.CTYNAME.str.replace(' County', '')
popdensity.CTYNAME

0            AL-Alabama
1            AL-Autauga
2            AL-Baldwin
3            AL-Barbour
4               AL-Bibb
5             AL-Blount
6            AL-Bullock
7             AL-Butler
8            AL-Calhoun
9           AL-Chambers
10          AL-Cherokee
11           AL-Chilton
12           AL-Choctaw
13            AL-Clarke
14              AL-Clay
15          AL-Cleburne
16            AL-Coffee
17           AL-Colbert
18           AL-Conecuh
19             AL-Coosa
20         AL-Covington
21          AL-Crenshaw
22           AL-Cullman
23              AL-Dale
24            AL-Dallas
25            AL-DeKalb
26            AL-Elmore
27          AL-Escambia
28            AL-Etowah
29           AL-Fayette
              ...
22321     WI-Washington
22322       WI-Waukesha
22323        WI-Waupaca
22324       WI-Waushara
22325      WI-Winnebago
22326           WI-Wood
22327        WY-Wyoming
22328         WY-Albany
22329       WY-Big Horn
22330       WY-Campbell
22331         WY-Carbon
22332       WY-Converse
22333          WY-Crook
22334        WY-Fremont
22335         WY-Goshen
22336    WY-Hot Springs
22337        WY-Johnson
22338        WY-Laramie
22339        WY-Lincoln
22340        WY-Natrona
22341       WY-Niobrara
22342           WY-Park
22343         WY-Platte
22344       WY-Sheridan
22345       WY-Sublette
22346     WY-Sweetwater
22347          WY-Teton
22348          WY-Uinta
22349       WY-Washakie
22350         WY-Weston
Name: CTYNAME, Length: 41515, dtype: object

In [64]:
bankruptcy = pd.read_csv('bankruptcy.csv', header = 0, encoding='latin-1')
bankruptcy = bankruptcy.rename(columns={'county': 'CTYNAME'})
bankruptcy.CTYNAME = bankruptcy.CTYNAME.str.replace(' end', '')

In [65]:
#reformat CTYNAME to our common format
bankruptcy.CTYNAME = bankruptcy.CTYNAME.str.strip()
temp = bankruptcy.CTYNAME.str.rsplit(" ", 1, expand=True)
temp[1] = temp[1].replace(us_state_abbrev, regex=True).str.strip()
bankruptcy['state'] = temp[1]
bankruptcy.CTYNAME = temp[1] + "-" + temp[0]
bankruptcy.CTYNAME
bankruptcy.to_csv('bankrupt.csv')
bankruptcy.year = bankruptcy.year.astype('float64')
bankruptcy.CTYNAME = bankruptcy.CTYNAME.str.replace(' County', '')
bankruptcy = bankruptcy[bankruptcy.CTYNAME != "Value-Median"].reset_index(drop=True)
bankruptcy = bankruptcy[bankruptcy.CTYNAME.notnull()].reset_index(drop=True)

In [66]:
bankruptcy

              CTYNAME    year  totalfilings state
0          AL-Autauga  2005.0         424.0    AL
1          AL-Baldwin  2005.0        1380.0    AL
2          AL-Barbour  2005.0         257.0    AL
3             AL-Bibb  2005.0         212.0    AL
4           AL-Blount  2005.0         505.0    AL
5          AL-Bullock  2005.0          65.0    AL
6           AL-Butler  2005.0         167.0    AL
7          AL-Calhoun  2005.0         989.0    AL
8         AL-Chambers  2005.0         435.0    AL
9         AL-Cherokee  2005.0         168.0    AL
10         AL-Chilton  2005.0         252.0    AL
11         AL-Choctaw  2005.0          96.0    AL
12          AL-Clarke  2005.0         217.0    AL
13            AL-Clay  2005.0         103.0    AL
14        AL-Cleburne  2005.0          60.0    AL
15          AL-Coffee  2005.0         390.0    AL
16         AL-Colbert  2005.0         478.0    AL
17         AL-Conecuh  2005.0          85.0    AL
18           AL-Coosa  2005.0          80.0    AL
19       AL-Covington  2005.0         247.0    AL
20        AL-Crenshaw  2005.0         119.0    AL
21         AL-Cullman  2005.0         779.0    AL
22            AL-Dale  2005.0         485.0    AL
23          AL-Dallas  2005.0         421.0    AL
24          AL-DeKalb  2005.0         528.0    AL
25          AL-Elmore  2005.0         622.0    AL
26        AL-Escambia  2005.0         233.0    AL
27          AL-Etowah  2005.0         961.0    AL
28         AL-Fayette  2005.0         138.0    AL
29        AL-Franklin  2005.0         206.0    AL
...               ...     ...           ...   ...
30895     WI-Washburn  2014.0          45.0    WI
30896   WI-Washington  2014.0         407.0    WI
30897     WI-Waukesha  2014.0        1030.0    WI
30898      WI-Waupaca  2014.0         125.0    WI
30899     WI-Waushara  2014.0          76.0    WI
30900    WI-Winnebago  2014.0         439.0    WI
30901         WI-Wood  2014.0         141.0    WI
30902       WY-Albany  2014.0          36.0    WY
30903     WY-Big Horn  2014.0          13.0    WY
30904     WY-Campbell  2014.0          89.0    WY
30905       WY-Carbon  2014.0          22.0    WY
30906     WY-Converse  2014.0          18.0    WY
30907        WY-Crook  2014.0           5.0    WY
30908      WY-Fremont  2014.0          39.0    WY
30909       WY-Goshen  2014.0          19.0    WY
30910  WY-Hot Springs  2014.0           4.0    WY
30911      WY-Johnson  2014.0           7.0    WY
30912      WY-Laramie  2014.0         187.0    WY
30913      WY-Lincoln  2014.0          20.0    WY
30914      WY-Natrona  2014.0         173.0    WY
30915     WY-Niobrara  2014.0           3.0    WY
30916         WY-Park  2014.0          31.0    WY
30917       WY-Platte  2014.0          14.0    WY
30918     WY-Sheridan  2014.0          48.0    WY
30919     WY-Sublette  2014.0           8.0    WY
30920   WY-Sweetwater  2014.0         103.0    WY
30921        WY-Teton  2014.0          12.0    WY
30922        WY-Uinta  2014.0          49.0    WY
30923     WY-Washakie  2014.0          10.0    WY
30924       WY-Weston  2014.0           8.0    WY

[30925 rows x 4 columns]

In [67]:
cvdeath = pd.read_csv('Cardiovascular_death_per_100000.csv', header = 0, encoding='latin-1')
cvdeath = cvdeath.rename(columns={'County': 'CTYNAME'})

In [68]:
cvdeath.CTYNAME = cvdeath.State + "-" + cvdeath.CTYNAME
cvdeath.CTYNAME = cvdeath.CTYNAME.str.strip()
cvdeath.year = cvdeath.year.astype('float64')
cvdeath.CTYNAME = cvdeath.CTYNAME.str.replace(' County', '')

In [69]:
cvdeath

,year,CTYNAME,State,Cardiovascular deaths,Unnamed: 4
0,2005.0,AK-Aleutians East,AK,333.7,
1,2005.0,AK-Sitka,AK,366.8,
2,2005.0,AK-Haines,AK,377.5,
3,2005.0,AK-Juneau,AK,377.5,
4,2005.0,AK-Denali,AK,410.9,
5,2005.0,AK-Fairbanks North Star,AK,419.2,
6,2005.0,AK-Anchorage,AK,430.2,
7,2005.0,AK-Kodiak Island,AK,430.4,
8,2005.0,AK-Kenai Peninsula,AK,440.6,
9,2005.0,AK-Lake and Peninsula,AK,448.5,
10,2005.0,AK-Ketchikan Gateway,AK,450.3,
11,2005.0,AK-Yukon-Koyukuk,AK,456.5,
12,2005.0,AK-Valdez-Cordova,AK,461.8,
13,2005.0,AK-Nome,AK,464.9,
14,2005.0,AK-Northwest Arctic,AK,478.1,
15,2005.0,AK-Southeast Fairbanks,AK,489.0,
16,2005.0,AK-Matanuska-Susitna,AK,505.5,
17,2005.0,AK-Bethel,AK,512.9,
18,2005.0,AK-Wade Hampton,AK,527.0,
19,2005.0,AK-Dillingham,AK,529.1,
20,2005.0,AK-North Slope,AK,535.7,
21,2005.0,AK-Aleutians West,AK,613.3,
22,2005.0,AL-Lauderdale,AL,480.9,
23,2005.0,AL-Shelby,AL,502.8,
24,2005.0,AL-Madison,AL,519.8,
25,2005.0,AL-Montgomery,AL,575.2,
26,2005.0,AL-Baldwin,AL,586.7,
27,2005.0,AL-Cherokee,AL,596.8,
28,2005.0,AL-Dale,AL,599.2,
29,2005.0,AL-Lee,AL,610.7,
...,...,...,...,...,...
28995,2013.0,WY-Sublette,WY,325.7,NaN
28996,2013.0,WY-Park,WY,333.3,NaN
28997,2013.0,WY-Albany,WY,340.0,NaN
28998,2013.0,WY-Lincoln,WY,343.8,NaN
28999,2013.0,WY-Crook,WY,371.1,NaN
29000,2013.0,WY-Washakie,WY,379.6,NaN
29001,2013.0,WY-Weston,WY,389.4,NaN
29002,2013.0,WY-Laramie,WY,390.0,NaN
29003,2013.0,WY-Platte,WY,396.2,NaN
29004,2013.0,WY-Converse,WY,405.0,NaN
29005,2013.0,WY-Uinta,WY,408.7,NaN
29006,2013.0,WY-Goshen,WY,412.9,NaN
29007,2013.0,WY-Big Horn,WY,413.4,NaN
29008,2013.0,WY-Carbon,WY,414.3,NaN
29009,2013.0,WY-Sweetwater,WY,414.3,NaN
29010,2013.0,WY-Fremont,WY,416.7,NaN
29011,2013.0,WY-Campbell,WY,425.6,NaN
29012,2013.0,WY-Johnson,WY,427.6,NaN
29013,2013.0,WY-Natrona,WY,428.0,NaN
29014,2013.0,WY-Hot Springs,WY,428.5,NaN
29015,2013.0,WY-Niobrara,WY,440.4,NaN
29016,2013.0,WY-Sheridan,WY,449.4,NaN
29017,2013.0,AK-Bristol Bay,AK,NaN,NaN
29018,2013.0,AK-Prince of Wales-Outer Ketchikan,AK,NaN,NaN
29019,2013.0,AK-Skagway-Hoonah-Angoon,AK,NaN,NaN
29020,2013.0,AK-Wrangell-Petersburg,AK,NaN,NaN
29021,2013.0,AK-Yakutat,AK,NaN,NaN
29022,2013.0,VI-Saint Croix (County Equivalent),VI,NaN,NaN
29023,2013.0,VI-Saint John (County Equivalent),VI,NaN,NaN
29024,2013.0,VI-Saint Thomas (County Equivalent),VI,NaN,NaN

In [70]:
loanaccess = pd.read_csv('loan_access.csv', header = 0, encoding = 'latin-1')
loanaccess = loanaccess.rename(columns={'county': 'CTYNAME'})
loanaccess.year = loanaccess.year.astype('float64')
loanaccess.CTYNAME = loanaccess.CTYNAME.str.replace(' County', '')
loanaccess.CTYNAME

0                          NaN
1                   AL-Autauga
2                   AL-Baldwin
3                   AL-Barbour
4                      AL-Bibb
5                    AL-Blount
6                   AL-Bullock
7                    AL-Butler
8                   AL-Calhoun
9                  AL-Chambers
10                 AL-Cherokee
11                  AL-Chilton
12                  AL-Choctaw
13                   AL-Clarke
14                     AL-Clay
15                 AL-Cleburne
16                   AL-Coffee
17                  AL-Colbert
18                  AL-Conecuh
19                    AL-Coosa
20                AL-Covington
21                 AL-Crenshaw
22                  AL-Cullman
23                     AL-Dale
24                   AL-Dallas
25                   AL-DeKalb
26                   AL-Elmore
27                 AL-Escambia
28                   AL-Etowah
29                  AL-Fayette
                 ...
9894           VA-Emporia city
9895           VA-Fairfax city
9896      VA-Falls Church city
9897          VA-Franklin city
9898    VA-Fredericksburg city
9899             VA-Galax city
9900           VA-Hampton city
9901      VA-Harrisonburg city
9902          VA-Hopewell city
9903         VA-Lexington city
9904         VA-Lynchburg city
9905          VA-Manassas city
9906     VA-Manassas Park city
9907      VA-Martinsville city
9908      VA-Newport News city
9909           VA-Norfolk city
9910            VA-Norton city
9911        VA-Petersburg city
9912          VA-Poquoson city
9913        VA-Portsmouth city
9914           VA-Radford city
9915          VA-Richmond city
9916           VA-Roanoke city
9917             VA-Salem city
9918          VA-Staunton city
9919           VA-Suffolk city
9920    VA-Virginia Beach city
9921        VA-Waynesboro city
9922      VA-Williamsburg city
9923        VA-Winchester city
Name: CTYNAME, Length: 9924, dtype: object

In [71]:
loanaccess.year.dtype

dtype('float64')

In [72]:
divorce = pd.read_csv('Divorce.csv', encoding = 'latin-1')
divorce = divorce.rename(columns={'county': 'CTYNAME'})
divorce['Divorced; Estimate; Population 15 years and over'] = divorce['Divorced; Estimate; Population 15 years and over'].str.replace('N', '')

In [73]:
#reformat CTYNAME to our common format
temp=divorce.CTYNAME.str.split(",", 1, expand=True)
temp[1] = temp[1].replace(us_state_abbrev, regex=True).str.strip()
temp[0] = temp[0].str.strip()
divorce.CTYNAME = temp[1] + "-" + temp[0]
divorce.year = divorce.year.astype('float64')
divorce.CTYNAME = divorce.CTYNAME.str.replace(' County', '')
divorce.CTYNAME

0                             AL-Baldwin
1                             AL-Calhoun
2                             AL-Cullman
3                              AL-DeKalb
4                              AL-Elmore
5                              AL-Etowah
6                             AL-Houston
7                           AL-Jefferson
8                          AL-Lauderdale
9                                 AL-Lee
10                          AL-Limestone
11                            AL-Madison
12                           AL-Marshall
13                             AL-Mobile
14                         AL-Montgomery
15                             AL-Morgan
16                          AL-St. Clair
17                             AL-Shelby
18                          AL-Talladega
19                         AL-Tuscaloosa
20                             AL-Walker
21             AK-Anchorage Municipality
22       AK-Fairbanks North Star Borough
23          AK-Matanuska-Susitna Borough
24                             AZ-Apache
25                            AZ-Cochise
26                           AZ-Coconino
27                           AZ-Maricopa
28                             AZ-Mohave
29                             AZ-Navajo
                      ...
21963                        WI-Washburn
21964                      WI-Washington
21965                        WI-Waukesha
21966                         WI-Waupaca
21967                        WI-Waushara
21968                       WI-Winnebago
21969                            WI-Wood
21970                          WY-Albany
21971                        WY-Big Horn
21972                        WY-Campbell
21973                          WY-Carbon
21974                        WY-Converse
21975                           WY-Crook
21976                         WY-Fremont
21977                          WY-Goshen
21978                     WY-Hot Springs
21979                         WY-Johnson
21980                         WY-Laramie
21981                         WY-Lincoln
21982                         WY-Natrona
21983                        WY-Niobrara
21984                            WY-Park
21985                          WY-Platte
21986                        WY-Sheridan
21987                        WY-Sublette
21988                      WY-Sweetwater
21989                           WY-Teton
21990                           WY-Uinta
21991                        WY-Washakie
21992                          WY-Weston
Name: CTYNAME, Length: 21993, dtype: object

In [74]:
unemployment = pd.read_csv('Unemployment.csv', encoding = 'latin-1')
unemployment = unemployment.rename(columns={'county': 'CTYNAME', 'Year': 'year'})
unemployment.year = unemployment.year.astype('float64')

In [75]:
#reformat CTYNAME to our common format
temp=unemployment.CTYNAME.str.split(",", 1, expand=True)
temp[1] = temp[1].replace(us_state_abbrev, regex=True).str.strip()
temp[0] = temp[0].str.strip()
unemployment.CTYNAME = temp[1] + "-" + temp[0]
unemployment.CTYNAME = unemployment.CTYNAME.str.replace(' County', '')
unemployment.CTYNAME

0                            AL-Baldwin
1                            AL-Calhoun
2                            AL-Cullman
3                             AL-DeKalb
4                             AL-Elmore
5                             AL-Etowah
6                            AL-Houston
7                          AL-Jefferson
8                         AL-Lauderdale
9                                AL-Lee
10                         AL-Limestone
11                           AL-Madison
12                          AL-Marshall
13                            AL-Mobile
14                        AL-Montgomery
15                            AL-Morgan
16                         AL-St. Clair
17                            AL-Shelby
18                         AL-Talladega
19                        AL-Tuscaloosa
20                            AL-Walker
21            AK-Anchorage Municipality
22      AK-Fairbanks North Star Borough
23         AK-Matanuska-Susitna Borough
24                            AZ-Apache
25                           AZ-Cochise
26                          AZ-Coconino
27                          AZ-Maricopa
28                            AZ-Mohave
29                              AZ-Pima
                     ...
7925                   West VA-Harrison
7926                    West VA-Kanawha
7927                 West VA-Monongalia
7928                    West VA-Raleigh
7929                       West VA-Wood
7930                           WI-Brown
7931                            WI-Dane
7932                           WI-Dodge
7933                      WI-Eau Claire
7934                     WI-Fond du Lac
7935                       WI-Jefferson
7936                         WI-Kenosha
7937                       WI-La Crosse
7938                       WI-Manitowoc
7939                        WI-Marathon
7940                       WI-Milwaukee
7941                       WI-Outagamie
7942                         WI-Ozaukee
7943                         WI-Portage
7944                          WI-Racine
7945                            WI-Rock
7946                       WI-St. Croix
7947                       WI-Sheboygan
7948                        WI-Walworth
7949                      WI-Washington
7950                        WI-Waukesha
7951                       WI-Winnebago
7952                            WI-Wood
7953                         WY-Laramie
7954                         WY-Natrona
Name: CTYNAME, Length: 7955, dtype: object

In [76]:
files = os.listdir()
files_xls = [f for f in files if f[:8] == 'pa_reimb']   
reimb = pd.DataFrame()
for f in files_xls:
    year = f[-8:-4]
    x = pd.read_excel(f, header=0)
    name = list(filter(lambda x: x.startswith('Medicare enrollees'), x.columns.get_level_values(0)))
    x = x.rename(columns={'County name': 'CTYNAME', name[0]: 'Medicare enrollees '})
    for y in x.columns:
        if y.endswith(year + ')'):
            label = y.split('(' + year)[0]
            x.rename(columns = {y : label} , inplace=True)
    x['year'] = year        
    reimb = reimb.append(x)
    # if reimb.empty:
       # reimb = reimb.append(x)
    #else :
      #  reimb = reimb.merge(x, how='left', on='County name')


#a = reimb.describe()
#print (a)
reimb['Index'] = reimb.index
reimb = reimb.sort_values(['year', 'Index'])
reimb.drop(labels = 'Index', axis = 1, inplace=True)       
reimb = reimb.loc[:, reimb.columns.get_level_values(0).isin({'CTYNAME', 'Medicare enrollees ', 'Total Medicare reimbursements per enrollee (Parts A and B) ', 'year'})]                         
reimb.year = reimb.year.astype('float64')
reimb.CTYNAME = reimb.CTYNAME.str.replace(' County', '')
reimb.to_csv('reimb.csv')

reimb2 = reimb
reimb2 = reimb2.reset_index()
reimb2.columns

Index(['index', 'CTYNAME', 'Medicare enrollees ',
       'Total Medicare reimbursements per enrollee (Parts A and B) ', 'year'],
      dtype='object')

In [83]:
mydata = bankruptcy.merge(popdensity, how='left', on=['year', 'CTYNAME'])
mydata = mydata.merge(loanaccess, how='left', on=['year', 'CTYNAME'])
mydata = mydata.merge(unemployment, how='left', on=['year', 'CTYNAME'])
mydata = mydata.merge(cvdeath, how='left', on=['year', 'CTYNAME'])
mydata = mydata.merge(divorce, how='left', on=['year', 'CTYNAME'])
mydata = mydata.merge(reimb, how='left', on=['year', 'CTYNAME'])

In [84]:
mydata.to_csv('mergeddata.csv')

In [85]:
mydata.columns

Index(['CTYNAME', 'year', 'totalfilings', 'state', 'density', 'POPESTIMATE',
       'credit_access', 'totpop', 'unemp', 'unemp_rate', 'State',
       'Cardiovascular deaths', 'Unnamed: 4',
       'Divorced; Estimate; Population 15 years and over',
       'Medicare enrollees ',
       'Total Medicare reimbursements per enrollee (Parts A and B) '],
      dtype='object')

In [80]:
reimb.columns

Index(['CTYNAME', 'Medicare enrollees ',
       'Total Medicare reimbursements per enrollee (Parts A and B) ', 'year'],
      dtype='object')